<%- include('./partials/header')%> <%- include('./partials/navigation')%>

<div class="container-sign-in">
  <div class="left">
    <!-- <img class="back-ground-ing" src="./images/logo.png" alt="" /> -->
    <img class="display-image-sign-in" src="./images/empty-screen.png" alt="" />
    <img class="display-image-display" src="./images/sign-in-one.png" alt="" />
  </div>
  <div class="right">
    <form action="/signin" method="post">
      <img src="./images/logo-2.jpeg" alt="" />
      <input type="text" placeholder="@johndoe" name="username" />
      <input type="password" placeholder="********" name="password" />
      <button class="main-button">Sign in</button>
      <div class="or">
        <p>or</p>
      </div>
      <p>use it on app</p>
      <!-- <p>
        <a href="/forgot-password">Forgot password?</a>
      </p> -->
      <div class="">
        <img src="./images/play-store.png" style="height: 40px" alt="" />
        <img src="./images/micro-store.png" style="height: 40px" alt="" />
      </div>
    </form>
    <div class="sign-up">
      dont have a account sign up <a href="/signup">Sign up</a>
    </div>
  </div>
</div>
<%- include('./partials/footer')%>
